<!-- Footer -->
    <footer class="py-5 bg-info">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Ayu Lestari 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='assets/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ url_for('static', filename='assets/vendor/jquery-easing/jquery.easing.min.js') }}"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="{{ url_for('static', filename='assets/js/scrolling-nav.js') }}"></script>

    <script src="{{ url_for('static', filename='assets/vendor/freebie/baguetteBox.min.js') }}"></script>    
    <script>
        baguetteBox.run('.cards-gallery', { animation: 'slideIn'});
    </script>

  </body>

</html>