<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>
    {{ data['title'] }} | Ekstraksi Ciri Citra Wajah menggunakan GMI untuk klasifikasi Ekspresi Wajah Pada Citra Multiple Face
  </title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='assets/css/scrolling-nav.css') }}" rel="stylesheet">

  <link href="{{ url_for('static', filename='assets/vendor/font-awesome/css/font-awesome.css') }}" rel="stylesheet" />

  <!-- Freebie Vendor -->
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/freebie/baguetteBox.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='assets/vendor/freebie/cards-gallery/cards-gallery.css') }}">

</head>

<body id="page-top">
