  <nav class="navbar navbar-expand-lg bg-info">
    <div class="container">
      <div class="navbar-translate">
        <a class="navbar-brand" href="{{ url_for('.home') }}">Ekstraksi Ciri Ekspresi Wajah</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="sr-only">Toggle navigation</span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" style="font-size:5px !important;">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="{{ url_for('.home') }}" class="nav-link">
              <i class="fa fa-home"></i> Home
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('.pelatihan') }}" class="nav-link">
              <!-- <i class="material-icons">photo_album</i> Pelatihan -->
              <i class="fa fa-info"></i> Pelatihan
            </a>
          </li>
          <li class="nav-item">
            <a href="{{ url_for('.pengujian') }}" class="nav-link">
              <!-- <i class="material-icons">photo</i> Pengujian -->
              <i class="fa fa-eye"></i> Pengujian
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>  