<section style="min-height: 600px !important;">
    <div class="container">
      	<div class="section text-center" style="margin: auto 0 !important;">

			<div class="row" style="text-align: left;">

				<!-- Pelatihan -->
				<div class="col-md-4 heading">
					<h3>Pelatihan</h3>
					<div>
						{% with messages = get_flashed_messages(category_filter=["pelatihan"]) %}
							{% if messages %}
							<div class="alert alert-success">
								{%- for message in messages %}
									{{ message }}
								{% endfor -%}
							</div>
							{% endif %}
						{% endwith %}

						{% with msg_error = get_flashed_messages(category_filter=["error_pelatihan"]) %}
							{% if msg_error %}
							<div class="alert alert-danger">
								{%- for msg_e in msg_error %}
									{{ msg_e }}
								{% endfor -%}
							</div>
							{% endif %}
						{% endwith %}
					</div>

					<form id="form-latih" action="{{ url_for('.pelatihan') }}" method="POST" enctype="multipart/form-data">
						<div class="form-group">
					    	<label for="Unggah Data">Unggah Data</label>
					    	<p class="text-danger" style="font-size: 12px;">* Data dalam format zip</p>
					    	<input type="file" name="zip_file" multiple="" class="form-control-file" id="zip_file" required>
						</div>
						<input type="submit" name="pelatihan" class="btn btn-primary" value="Latih" onclick="UI.latih(); return false;">
					</form>
				</div>
				<!-- /Pelatihan -->


				<!-- Pengujian1 -->
				<div class="col-md-4 heading">

					<h3>Pengujian 1</h3>
					<div>
						{% with messages = get_flashed_messages(category_filter=["pengujian1"]) %}
							{% if messages %}
							<div class="alert alert-success">
								{%- for message in messages %}
									{{ message }}
								{% endfor -%}
							</div>
							{% endif %}
						{% endwith %}

						{% with msg_error = get_flashed_messages(category_filter=["error_pengujian1"]) %}
							{% if msg_error %}
							<div class="alert alert-danger">
								{%- for msg_e in msg_error %}
									{{ msg_e }}
								{% endfor -%}
							</div>
							{% endif %}
						{% endwith %}
					</div>

					<form id="form-uji" action="{{ url_for('.pengujian1') }}" method="POST" enctype="multipart/form-data">
						<input type="submit" name="pengujian1" class="btn btn-primary" value="Uji" onclick="UI.uji(); return false;">
					</form> 
				</div>
				<!-- /Pengujian1 -->


				<!-- Pengujian2 -->
				<div class="col-md-4 heading">
					<h3>Pengujian 2</h3>
					<div>
					{% with messages2 = get_flashed_messages(category_filter=["pengujian2"]) %}
						{% if messages2 %}
							<div class="alert alert-success">
								{%- for msg in messages2 %}
									{{ msg }}
								{% endfor -%}
							</div>
							{% endif %}
						{% endwith %}
					</div>
					<form action="{{ url_for('.pengujian2') }}" method="POST">
						<div class="form-group">
					    	<p class="text-danger" style="font-size: 12px;">* Klasifikasi dengan beberapa metode berbeda</p>
							<input type="submit" name="pengujian2" class="btn btn-primary" value="Uji">
						</div>
					</form> 
				</div>
				<!-- /Pengujian2 -->

			</div>

			<style type="text/css">
				table{width: 100%}
				.foto{width:100px; height:100px;}
				.grafik{}
			</style>

			{% if files %}
				<div style="margin-top: 5%;">
					<hr><hr>
				</div>
				<div class="row">
					<div class="col-md-12 heading">
						<h3><strong>Hasil Pengujian</strong></h3>
					</div>
				</div>
				
				<div class="row" style="margin-top: 2%;">
					<ul class="nav nav-tabs">
					  	<li class="nav-item">
					    	<a class="nav-link active" href="#hasil" id="lihat_hasil">Hasil</a>
					  	</li>
					  	<li class="nav-item">
					    	<a class="nav-link" href="#" id="lihat_waktu_dan_data">Waktu dan Data</a>
					  	</li>
					</ul>
				</div>

				<div class="row" id="hasil" style="margin-top: 2%;">
					<div class="col-md-12">
						<table class="table table-bordered" style="text-align: center;">
							<thead class="thead-light">
								<tr>
									<th rowspan="2">No</th>
									<th rowspan="2">File Name</th>
									<th rowspan="2">Thumbnail <br> Kode Sendiri </th>
									<th rowspan="2">Target</th>
									<th colspan="2">Hasil</th>
									<th colspan="2">Akurasi</th>
									<th rowspan="2">Aksi</th>
								</tr>
								<tr>
									<th>Kode Sendiri</th>
									<th>OpenCV</th>
									<th>Kode Sendiri</th>
									<th>OpenCV</th>
								</tr>
							</thead>
							<tbody>
								{% for i in range(files['jumlah_data']) %}
									<tr style="text-align: left;">
										<td>{{ i + 1 }}</td>
										<td style="width: 100px !important; word-wrap: break-word !important;"> {{ files['data_uji'][i][1] }}</td>
										<td style="width: 100px;  max-height: 100px !important;">
											<div class="gallery-block cards-gallery">
												<div class="card border-0 transform-on-hover" style="max-height: 100px !important;">
								                	<a class="lightbox" href="{{ url_for('static', filename='data/latih_uji/' + files['file_s'][i]) }}">
								                		<img src="{{ url_for('static', filename='data/latih_uji/' + files['file_s'][i]) }}" alt="Gambar {{ files['file_s'][i] }}" class="card-img-top">
								                	</a>
								                </div>
											</div>
										</td>  
										<td>
											{% for key, value in target[i].items(): %}
												{% if value != 0: %}
													{{ key + '=' + value|string}}</br>
												{% endif %}
											{% endfor %}
										</td>
										<td>
											{% for key, value in semua_hasil_s[i].items(): %}
												{% if value != 0: %}
													{{ key + '=' + value|string}}</br>
												{% endif %}
											{% endfor %}
										</td>
										<td>
											{% for key, value in semua_hasil_o[i].items(): %}
												{% if value != 0: %}
													{{ key + '=' + value|string}}</br>
												{% endif %}
											{% endfor %}
										</td>
										<td>
											{% for key, value in akurasi['s'][i].items(): %}
												{{ key + '=' + value|int|string + '%'}}</br>
											{% endfor %}
										</td>
										<td>
											{% for key, value in akurasi['o'][i].items(): %}
												{{ key + '=' + value|int|string + '%'}}</br>
											{% endfor %}
										</td>
										<td>
											<a href="http://localhost:5000/ekspresi-wajah/hasil_detail/{{ files['data_uji'][i][0] }}/{{ waktu[i] }}" class="btn btn-primary"><i class="fa fa-info"></i> DETAIL</a>
										</td> 
									</tr>
								{% endfor %}
									<tr>
										<td colspan="6" style="font-weight: bolder;">Rata-Rata</td>
										<td>
											{% for x in akurasi['rata_s']: %}
											{{ x|string + '%' }} <br>
											{% endfor %}
										</td>
										<td>
											{% for x in akurasi['rata_o']: %}
											{{ x|string + '%' }} <br>
											{% endfor %}
										</td>
										<td colspan="3"></td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>




				{% set jumlah_uji = jumlah_data_teruji|length %}
				<div class="row" style="margin-top: 2%; margin-bottom: 3%;" id="waktu_dan_data">
					<div class="col-md-12 heading">
						<h4><strong>Daftar Waktu dan Jumlah Data Pengujian</strong></h4>
					</div>

					{% if jumlah_uji != 0 %}
						<div class="col-md-6" style="margin-top: 3%;">
							<table class="table table-bordered" style="text-align: center;">
								<thead class="thead-light">
									<tr>
										<th colspan="3">Hasil Waktu dan Data Pengujian</th>
									</tr>
									<tr>
										<th>Waktu (Menit)</th>
										<th>Jumlah Data</th>
									</tr>
								</thead>
								<tbody>
									{% for i in range(jumlah_uji): %}
										{% for key, value in jumlah_data_teruji[i].items(): %}
											<tr>
												<td>{{ key }}</td>
												<td>{{ value }}</td>
											</tr>
										{% endfor %}
									{% endfor %}
								</tbody>
							</table>
						</div>

						<div class="col-md-6" style="margin-top: 3%;">
							<div class="grafik img-fluid">
								<img src="{{ url_for('static', filename='data/grafik/' + direktori + '.png') }}" alt="Grafik">
							</div>
						</div>
					{% endif %}
				</div>

			{% endif %}
		</div>
	</div>
</section>

<script type="text/javascript">
	var UI;
	window.onload = function() {
		$(document).ready(function() {
			$('#waktu_dan_data').hide();
			
			$('#lihat_waktu_dan_data').click(function(){
				$('.nav-link').each(function() {
					$(this).removeClass('active');
				});
				$(this).addClass('active');
			    $('#hasil').hide();
				$('#waktu_dan_data').show();

			});

			$('#lihat_hasil').click(function(){
				$('.nav-link').each(function() {
					$(this).removeClass('active');
				});
				$(this).addClass('active');
			    $('#waktu_dan_data').hide();
				$('#hasil').show();

			});

			UI = {
				latih: function() {
					$('#form-latih').submit();
					return false;
				},
				uji: function() {
					$('#form-uji').submit();
					return false;
				}
			};

		});
	};
	
</script>