<section style="min-height: 600px !important;">
    <div class="container">
      	<div class="section text-center" style="margin: auto 0 !important;">

			<div class="row" style="text-align: left;">
				<div class="col-md-5 heading">
					<h3>Pelatihan dan Pengujian</h3>
					<div>
						{% with messages = get_flashed_messages() %}
							{% if messages %}
							<div class="alert alert-success">
								{% for message in messages %}
									{{ message }}
								{% endfor %}
							</div>
							{% endif %}
						{% endwith %}
					</div>

					<form action="{{ url_for('.latih_uji') }}" method="POST" enctype="multipart/form-data">
						<div class="form-group">
					    	<label for="Unggah Data">Unggah Data</label>
					    	<input type="file" name="zip_file" multiple="" class="form-control-file">
						</div>
						<input type="submit" name="latih_uji" class="btn btn-primary" value="Latih dan Uji">
					</form> 
				</div>

				<div class="col-md-3 heading">
					<h3>Lakukan Pengujian</h3> <br>
					<a href="{{ url_for('.lakukan_uji') }}" class="btn btn-lg btn-primary"><i class="info"></i> UJI</a>
				</div>

				<div class="col-md-4 heading">
					<form action="{{ url_for('.latih_data') }}" method="POST">
						<div class="form-group">
					    	<label for="Pilih Jumlah Data" class="heading">Pilih Jumlah Data Latih</label>
					    	<select class="form-control" name="jumlah">
					    		<option value="2">2</option>
					    		<option value="10">10</option>
					    		<option value="20">20</option>
					    		<option value="30">30</option>
					    		<option value="all">All</option>
					    	</select>
						</div>
						<input type="submit" name="latih_data" class="btn btn-primary" value="Latih dan Uji">
					</form> 
				</div>
			</div>

			<style type="text/css">
				table{width: 100%}
				.foto{width:100px; height:100px;}
			</style>

			{% if files %}
			<div style="margin-top: 5%;">
				<hr><hr>
			</div>
				<div class="row">
					<div class="col-md-12 heading">
						<h3><strong>Hasil Pengujian</strong></h3>
					</div>
				</div>
				
				<div class="row" style="margin-top: 2%;">
					<div class="col-md-12">
						<table class="table table-bordered" style="text-align: center;">
							<thead class="thead-light">
								<tr>
									<th rowspan="2">No</th>
									<th rowspan="2">File Name</th>
									<th rowspan="2">Thumbnail <br> Kode Sendiri </th>
									<th rowspan="2">Target</th>
									<th colspan="2">Hasil</th>
									<th colspan="2">Akurasi</th>
									<th colspan="2">Jarak</th>
									<th rowspan="2">Aksi</th>
								</tr>
								<tr>
									<th>Kode Sendiri</th>
									<th>OpenCV</th>
									<th>Kode Sendiri</th>
									<th>OpenCV</th>
									<th>Kode Sendiri</th>
									<th>OpenCV</th>
								</tr>
							</thead>
							<tbody>
								{% for i in range(files['jumlah_data']) %}
									<tr style="text-align: left;">
										<td>{{ i + 1 }}</td>
										<td>{{ files['data_uji'][i][1] }}</td>
										<td style="width: 100px;  max-height: 100px !important;">
											<div class="gallery-block cards-gallery">
												<div class="card border-0 transform-on-hover" style="max-height: 100px !important;">
								                	<a class="lightbox" href="{{ url_for('static', filename='data/latih_uji/' + files['file_s'][i]) }}">
								                		<img src="{{ url_for('static', filename='data/latih_uji/' + files['file_s'][i]) }}" alt="Gambar {{ files['file_s'][i] }}" class="card-img-top">
								                	</a>
								                </div>
											</div>
										</td>  
										<td>
											{% for key, value in target[i].items(): %}
												{% if value != 0: %}
													{{ key + '=' + value|string}}</br>
												{% endif %}
											{% endfor %}
										</td>
										<td>
											{% for key, value in semua_hasil_s[i].items(): %}
												{% if value != 0: %}
													{{ key + '=' + value|string}}</br>
												{% endif %}
											{% endfor %}
										</td>
										<td>
											{% for key, value in semua_hasil_o[i].items(): %}
												{% if value != 0: %}
													{{ key + '=' + value|string}}</br>
												{% endif %}
											{% endfor %}
										</td>
										<td>
											{% for key, value in akurasi['s'][i].items(): %}
												{{ key + '=' + value|int|string + '%'}}</br>
											{% endfor %}
										</td>
										<td>
											{% for key, value in akurasi['o'][i].items(): %}
												{{ key + '=' + value|int|string + '%'}}</br>
											{% endfor %}
										</td>
										<td>
											W1 = 0.01</br>
											W2 = 0.0031</br>
											W3 = 0.0131</br>
											W4 = 0.0111</br>
										</td>
										<td>
											W1 = 0.01</br>
											W2 = 0.0031</br>
											W3 = 0.0131</br>
											W4 = 0.0111</br>
										</td>
										<td>
											<a href="http://localhost:5000/ekspresi-wajah/hasil_detail/{{ files['data_uji'][i][0] }}/{{ waktu[i] }}" class="btn btn-primary"><i class="fa fa-info"></i> DETAIL</a>
										</td> 
									</tr>
								{% endfor %}
									<tr>
										<td colspan="6" style="font-weight: bolder;">Rata-Rata</td>
										<td>
											{% for x in akurasi['rata_s']: %}
											{{ x|string + '%' }} <br>
											{% endfor %}
										</td>
										<td>
											{% for x in akurasi['rata_o']: %}
											{{ x|string + '%' }} <br>
											{% endfor %}
										</td>
										<td colspan="3"></td>
									</tr>
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
</section>