<div class="" style="margin-top: -8%; background: #FFFFFF; min-height: 550px;">
    <div class="container">
      	<div class="section text-center" style="margin: auto 0 !important;">

			<div class="row">
				<div class="col-md-5 ml-auto mr-auto">
					<h3 class="title">Pelatihan dan Pengujian</h3>
					<div class="col-md-5 ml-auto mr-auto">
						{% with messages = get_flashed_messages() %}
							{% if messages %}
							<div class="alert alert-success">
								{% for message in messages %}
									{{ message }}
								{% endfor %}
							</div>
							{% endif %}
						{% endwith %}
					</div>

					<form action="{{ url_for('.latih_uji') }}" method="POST" enctype="multipart/form-data" style="margin-top: 5%;">

						<!-- <h5 class="text-left" style="font-weight: bold; margin-top: 10%;">Parameter Multi Class Support Vector Machine</h5>
						<div class="form-group">
						    <label for="Nilai C">Nilai C</label>
							<input type="number" name="nilai_c" class="form-control" required>
						</div>

						<div class="form-group">
						    <label for="Nilai Gamma">Nilai Gamma</label>
							<input type="number" name="nilai_gamma" class="form-control" required>
						</div>

						<h5 class="text-left" style="font-weight: bold; margin-top: 10%;">Pilih Nilai K-Fold Cross Validation</h5>
						<div class="form-group">
						    <label for="Nilai K">Nilai K</label>
							<input type="number" name="nilai_k" class="form-control" required>
						</div> -->

						<h5 class="text-left" style="font-weight: bold; margin-top: 10%;">Unggah Data</h5>
						<div class="form-group form-file-upload form-file-multiple">
						    <input type="file" name="zip_file" multiple="" class="inputFileHidden" required>
						    <div class="input-group">
						        <input type="text" class="form-control inputFileVisible" placeholder="Unggah Data">
						        <span class="input-group-btn">
						            <button type="button" class="btn btn-fab btn-round btn-primary">
						                <i class="fa fa-file"></i>
						            </button>
						        </span>
						    </div>
						</div>
						<input type="submit" name="latih_uji" class="btn btn-primary" value="Latih dan Uji">
					</form>
				</div>

				<!-- <div class="col-md-5 ml-auto mr-auto">
					<div class="row">
						<div class="col-md-12 ml-auto mr-auto">
							<h3 class="title">Hasil</h3>
							<img src="{{ url_for('static', filename='data/testing/cobaaa.jpg') }}" width = "100%">
						</div>
					</div>
				</div> -->
			</div>

			<style type="text/css">
				table{width: 100%}
			</style>

			<!-- <div class="row">
				<div class="col-md-12 ml-auto mr-auto">
					<div class="row">
						<div class="col-md-12 ml-auto mr-auto">
							<h3 class="title">Ciri Setiap Kelas</h3>
							<div>
								<table class="table table-hover table-bordered">
									<thead>
										<tr class="danger">
											<th></th>
											<th>Kelas</th>
											<th>Ciri 1</th>
											<th>Ciri 2</th>
											<th>Ciri 3</th>
											<th>Ciri 4</th>
											<th>Ciri 5</th>
											<th>Ciri 6</th>
											<th>Ciri 7</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>1</td>
											<td>Sedih</td>
											<td>0.1</td>
											<td>0.1</td>
											<td>0.1</td>
											<td>0.1</td>
											<td>0.1</td>
											<td>0.1</td>
											<td>0.1</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div> -->
		</div>
	</div>
</div>