<section style="min-height: 600px !important;">
    <div class="container">
      	<div class="section text-center" style="margin: auto 0 !important;">

			<div class="row" style="text-align: center;">
				<div class="col-md-4 offset-md-4 heading">
					<h3>Pelatihan</h3>
					<div>
						{% with messages = get_flashed_messages() %}
							{% if messages %}
							<div class="alert alert-success">
								{% for message in messages %}
									{{ message }}
								{% endfor %}
							</div>
							{% endif %}
						{% endwith %}
					</div>

					<form action="{{ url_for('.pelatihan') }}" method="POST" enctype="multipart/form-data">
						<div class="form-group">
					    	<label for="Unggah Data" style="text-align: left !important;">Unggah Data</label> <br>
					    	<input type="file" name="zip_file" multiple="">
						</div>
						<input type="submit" name="latih_uji" class="btn btn-primary" value="Latih">
					</form> 
				</div>
			</div>
		</div>
	</div>
</section>
