<section style="min-height: 600px !important;">
    <div class="container">
      	<div class="section text-center" style="margin: auto 0 !important;">

			<div class="row" style="text-align: center;">
				<div class="col-md-4 offset-md-4 heading">
					<h3>Pengujian</h3>
					<div>
						{% with messages = get_flashed_messages() %}
							{% if messages %}
							<div class="alert alert-success">
								{% for message in messages %}
									{{ message }}
								{% endfor %}
							</div>
							{% endif %}
						{% endwith %}
					</div>

					<form action="{{ url_for('.pengujian') }}" method="POST" enctype="multipart/form-data">
						<div class="form-group">
					    	<label for="Unggah Data" style="text-align: left !important;">Unggah Data</label> <br>
					    	<input type="file" name="foto" multiple="">
						</div>
						<input type="submit" name="uji" class="btn btn-primary" value="Uji">
					</form> 
				</div>
			</div>

			{% if hasil %}
			<hr><hr>
				<div class="row">
					<div class="col-md-12 ml-auto mr-auto">
						<h2 class="title"><strong>Hasil</strong></h2>
					</div>
				</div>
				<div class="row" style="margin-top: 2%;">
					<div class="col-md-6">
						<img src="{{ url_for('static', filename='data/testing/' + hasil) }}" style="width: 100%;" width = "400" >
					</div>
				</div>
				
				<div class="row" style="margin-top: 4%; text-align: left;">
					<div class="col-md-12 ml-auto mr-auto">
						<table class="table table-responsive">
							<thead>
								<th>Code</th>
								<th>Ciri 1</th>
								<th>Ciri 2</th>
								<th>Ciri 3</th>
								<th>Ciri 4</th>
								<th>Ciri 5</th>
								<th>Ciri 6</th>
								<th>Ciri 7</th>
							</thead>
							<tbody>
								<tr>
									<td><b>Koding Sendiri</b></td>
									{% for x in ciri %}
										<td>{{ x }}</td>
									{% endfor %}
								</tr>
								<tr>
									<td><b>OpenCV</b></td>
									{% for x in ciricv %}
										<td>{{ x }}</td>
									{% endfor %}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}

		</div>
	</div>
</section>