<div class="" style="margin-top: 50%; background: #FFFFFF; min-height: 550px;">
    <div class="container">
      	<div class="section text-center" style="margin: auto 0 !important;">

	        <div class="row">
	          	<div class="col-md-8 ml-auto mr-auto">
		            <h2 class="title">Pengujian</h2>
		            <!-- <h5 class="description"></h5> -->
	          	</div>
	        </div>

			<div class="row">
				<div class="col-md-5 ml-auto mr-auto">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
						<div class="alert alert-success">
							{% for message in messages %}
								{{ message }}
							{% endfor %}
						</div>
						{% endif %}
					{% endwith %}
				</div>
			</div>

			<div class="row">
				<div class="col-md-5 ml-auto mr-auto">
					<form action="{{ url_for('.pengujian') }}" method="POST" enctype="multipart/form-data">
						<div class="form-group form-file-upload form-file-multiple">
						    <input type="file" name="foto" multiple="" class="inputFileHidden" required>
						    <div class="input-group">
						        <input type="text" class="form-control inputFileVisible" placeholder="Unggah Foto">
						        <span class="input-group-btn">
						            <button type="button" class="btn btn-fab btn-round btn-primary">
						                <i class="fa fa-file"></i>
						            </button>
						        </span>
						    </div>
						</div>
						<input type="submit" name="uji" class="btn btn-primary" value="Uji">
					</form>
				</div>
			</div>


			{% if hasil %}
			<hr><hr>
				<div class="row">
					<div class="col-md-12 ml-auto mr-auto">
						<h2 class="title"><strong>Hasil</strong></h2>
					</div>
				</div>
				<div class="row" style="margin-top: 2%;">
					<div class="col-md-6">
						<img src="{{ url_for('static', filename='data/testing/' + hasil) }}" style="width: 100%;" width = "400" >
					</div>
					<div class="col-md-1">
						<div class="foto">
							<img src="{{ url_for('static', filename='data/testing/' + directory + '_0.png') }}" style="width: 80%;" width = "40"  alt="Foto">
						</div>
					</div>
					<div class="col-md-4 ml-auto mr-auto" style="border: 1px solid gray;">
						<table class="table" style="text-align: left;">
							<thead>
								<tr>
									<th>Label</th>
									<th>Jarak</th>
								</tr>
							</thead>
							<tbody>
								{% for y, d in jarak.items() %}
									<tr>
										<td>{{ y }}</td>
										<td>{{ d }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				
				<div class="row" style="margin-top: 4%; text-align: left;">
					<div class="col-md-12 ml-auto mr-auto">
						<table class="table table-responsive">
							<thead>
								<th>Code</th>
								<th>Ciri 1</th>
								<th>Ciri 2</th>
								<th>Ciri 3</th>
								<th>Ciri 4</th>
								<th>Ciri 5</th>
								<th>Ciri 6</th>
								<th>Ciri 7</th>
							</thead>
							<tbody>
								<tr>
									<td><b>Koding Sendiri</b></td>
									{% for x in ciri %}
										<td>{{ x }}</td>
									{% endfor %}
								</tr>
								<tr>
									<td><b>OpenCV</b></td>
									{% for x in ciricv %}
										<td>{{ x }}</td>
									{% endfor %}
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			{% endif %}

		</div>
	</div>
</div>