<section style="min-height: 600px !important;">
    <div class="container">
      	<div class="section text-center" style="margin: auto 0 !important;">

			<style type="text/css">
				table{width: 100%}
				.foto{width:100px; height:100px;}
			</style>

			<div class="row" style="margin-top: -5%;">
				<div class="col-md-12 heading">
					<h3><strong>Hasil Pengujian</strong></h3>
				</div>
			</div>

			<div class="row" id="hasil" style="margin-top: 2%;">
				<div class="col-md-12">
					<table class="table table-bordered" style="text-align: center;">
						<thead class="thead-light">
							<tr>
								<th rowspan="2">Metode <br> Klasifikasi</th>
								<th colspan="9">Rata-Rata Hasil Akurasi Setiap K- <i>Fold Cross Validation</i></th>
								<th rowspan="2">Rata-Rata</th>
							</tr>
							<tr>
								<th>K=2</th>
								<th>K=3</th>
								<th>K=4</th>
								<th>K=5</th>
								<th>K=6</th>
								<th>K=7</th>
								<th>K=8</th>
								<th>K=9</th>
								<th>K=10</th>
							</tr>
						</thead>
						<tbody>
							{% for key, value in semua_hasil.items(): %}
								<tr>
									<td>{{ key }}</td>
									{% for i in range(10): %}
										<td>{{ value[i] }}</td>
									{% endfor %}
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>

		</div>
	</div>
</section>