<div class="" style="margin-top: -2%; background: #FFFFFF; min-height: 550px;">
    <div class="container">
      	<div class="section text-center" style="margin: auto 0 !important;">

	        <div class="row">
	          	<div class="col-md-8 ml-auto mr-auto">
		            <h2 class="title">Pengujian</h2>
		            <!-- <h5 class="description"></h5> -->
	          	</div>
	        </div>

			<div class="row">
				<div class="col-md-5 ml-auto mr-auto">
					{% with messages = get_flashed_messages() %}
						{% if messages %}
						<div class="alert alert-success">
							{% for message in messages %}
								{{ message }}
							{% endfor %}
						</div>
						{% endif %}
					{% endwith %}
				</div>
			</div>

			{% if hasil %}
				<div class="row">
					<div class="col-md-5 ml-auto mr-auto">
						<strong>CITRA TERKLASIFIKASI {{ hasil.upper() }}</strong>
						Coba Lagi?
					</div>
				</div>
			{% endif %}

			<div class="row">
				<div class="col-md-5 ml-auto mr-auto">
					<form action="{{ url_for('.pengujian') }}" method="POST" enctype="multipart/form-data">
						<div class="form-group form-file-upload form-file-multiple">
						    <input type="file" name="foto" multiple="" class="inputFileHidden" required>
						    <div class="input-group">
						        <input type="text" class="form-control inputFileVisible" placeholder="Unggah Foto">
						        <span class="input-group-btn">
						            <button type="button" class="btn btn-fab btn-round btn-primary">
						                <i class="material-icons">attach_file</i>
						            </button>
						        </span>
						    </div>
						</div>
						<input type="submit" name="uji" class="btn btn-primary" value="Uji">
					</form>
				</div>
			</div>


		</div>
	</div>
</div>