<section style="min-height: 600px !important;">
    <div class="container">
      	<div class="section text-center" style="margin: auto 0 !important;">

			<style type="text/css">
				table{width: 100%}
				.foto{width:100px; height:100px;}
			</style>

			<div style="margin-top: 5%;">
				<hr><hr>
			</div>

			<div class="row">
				<div class="col-md-12 heading">
					<h3><strong>Daftar Waktu dan Data Pelatihan dan Pengujian</strong></h3>
				</div>
			</div>
			
			<div class="row" style="margin-top: 2%;">
				<div class="col-md-12">
					<table class="table table-bordered" style="text-align: center;">
						<thead class="thead-light">
							<tr>
								<th>No</th>
								<th>Waktu</th>
								<th>Jumlah Data</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>