
	<!-- <form enctype="multipart/form-data" action="http://localhost:5000/upload" method="POST">
		<input type="file" name="the_file">
		<input type="submit" name="" value="Simpan">
	</form> -->


	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{ url_for('static', filename='bootstrap4/assets/js/vendor/jquery-slim.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap4/assets/js/vendor/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap4/dist/js/bootstrap.min.js') }}"></script>
  </body>
</html>